$white-255: rgba(255, 255, 255, 1);

$grey-19_05: rgba(19, 8, 23, 0.05);
$grey-19_10: rgba(19, 8, 23, 0.1);
$grey-19_40: rgba(19, 8, 23, 0.4);
$grey-19_90: rgba(19, 8, 23, 0.9);
$grey-22_08: rgba(22, 8, 30, 0.08);

$purple-110_03: rgba(110, 50, 140, 0.03);
$purple-110_06: rgba(110, 50, 140, 0.06);
$purple-110: rgba(110, 50, 140, 1);
