@import '@/shared/styles/index.scss';

.dropdown {
  @extend %flex-col-start-start;
  padding: rem(4px);
  gap: rem(4px);
  width: 100%;
  min-height: 42px;
  overflow-y: scroll;
  box-shadow: 0px 16px 64px -4px $grey-22_08;
  border: 1px solid $grey-19_05;
  border-radius: 8px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition:
    visibility 0.3s,
    opacity 0.3s,
    transform 0.3s;

  &_kit_single-select {
    max-width: 292px;
    max-height: 170px;
  }

  &_kit_multi-select {
    max-width: 450px;
    max-height: 170px;
  }

  &_open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
