@import '@/shared/styles/index.scss';

.option {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $grey-19_05;
  }

  &:focus {
    outline: none;
    background-color: $grey-19_05;
  }

  &_focused,
  &_selected {
    background-color: $grey-19_05;
  }

  &__label {
    @include set-font-size(rem(15px), 1.46);
    @extend %text-overflow-ellipsis;
    padding: rem(7px) rem(12px);
    color: $grey-19_90;
  }
}
